* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
  width: 70%;
  height: 50%
}

.habibi-regular {
    font-family: "Habibi", serif;
    font-weight: 400;
    font-style: normal;
  }

.sorts-mill-goudy-regular {
    font-family: "Sorts Mill Goudy", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.sorts-mill-goudy-regular-italic {
    font-family: "Sorts Mill Goudy", serif;
    font-weight: 400;
    font-style: italic;
  }
  
.container {
    position: relative;
    height: auto;
    width: auto;
    margin: 1rem;
    padding: 1rem;
    border: solid black 1px;
  }

.firstword {
    font-weight: bold;
    font-size: 2rem;
}

.p1 {
    margin: 1.5rem;
    font-size: 1rem;
 }

.flex-container {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    margin:1rem;
    object-fit: fill;
}

.flex-container-1 {
  position:fixed;
  align-items: center;
  display: flex;
  justify-content: center;
  margin:1rem;
  object-fit: fill;
}

.user-img {
  width: 50px;
  border-radius: 100%; 
  border: solid 1px #eee;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 80px;
  background-color: #12171e;
  padding: 0.4rem 0.8rem;
  transition: all 0.5s ease;
}

.sidebar.active ~ .main-content {
  left: 250px;
  width: calc(100% - 250px);
} 

.sidebar.active {
  width: 250px;
}

.sidebar #btn {
  position: absolute;
  color: #fff;
  top: 0.4rem;
  left: 50%;
  font-size: 1.2rem;
  line-height: 50px;
  transform: translateX(-50%);
  cursor: pointer;
}

.sidebar.active #btn {
  left: 90%;
}

.sidebar .top .logo {
  color:#fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  pointer-events: none;
  opacity: 0;
}

.sidebar.active .top .logo {
  opacity: 1;
}

.top .logo {
  font-size: 1.2rem;
  margin-right: 5px;
}

.user {
  display: flex;
  align-items:center;
  margin:0;
}

.user p {
  color:#fff;
  opacity: 1;
  margin: 1rem;
}

.bold {
  font-weight: 600;
}

.sidebar p {
  opacity: o;
}

.sidebar.active {
  opacity: 1;
}

.sidebar ul li {
  position: relative;
  list-style-type: none;
  height:50px;
  width: 90%;
  margin: 0.8rem auto;
  line-height: 50px;
}

.sidebar ul li a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 0.8rem;
}

.sidebar ul li a:hover {
  background-color: #fff;
  color: #12171e;
} 

.sidebar ul li a i {
  min-width: 50px;
  text-align: center;
  height: 50px;
  border-radius: 12px;
  line-height: 50px;
}

.sidebar .nav-item {
  opacity: 0;
}

.sidebar.active .nav-item {
  opacity: 1;
}

.sidebar ul li .tooltip {
  position: absolute;
  top: 50%;
  left: 125px;
  transform: translate(-50%,-50%);
  box-shadow: 0 0.5rem 0.8rem rgba(0,0,0,0.2);
  border-radius: 0.6rem;
  padding: 0.4rem 1.2rem;
  line-height: 1.8rem;
  z-index: 20;
  opacity: 0;
}

.sidebar ul li:hover .tooltip {
  opacity: 1;
}

.sidebar.active ul li .tooltip {
  display: none;
}

.main-content {
  position: relative;
  min-height: 100vh;
  top:0;
  left: 80px;
  transition: all 0.5s ease;
    width: (100% - 80px);
  padding: 1rem;
}
